@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
}

main {
	background: #f7fafd;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 9px;
}

.menu-1 {
	background: #fff;
	display: flex;
	gap: 16px;
	padding: 15px;
	justify-content: center;
}

.p-1 {
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
}

.p-2 {
	color: #234;
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.p-3 {
	color: #234;
	text-align: center;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.24px;
}

h1 {
	color: #38b031;
	text-align: center;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.64px;
}

.menu-3-1 {
	border-radius: 999px;
	border: 2px solid #ebebeb;
	background: #fff;
	padding: 15px;
}

.menu-2 {
	background: #fff;
	padding: 17px;
}

.menu-3 {
	background: #fff;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.vert {
	border-radius: 8px;
	background: #38b031;
	border: none;
	padding: 20px;
	width: 200px;
}
.nav-1 {
	display: none;
}

input {
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.nav-1 {
		display: flex;
		gap: 15px;
		flex-direction: row;
		color: #1c202b;
		font-family: "Plus Jakarta Sans";
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px;
		text-decoration: underline 2px #263fa9;
		text-underline-offset: 8px;
	}

	header {
		display: flex;
		align-items: center;
		gap: 250px;
	}

	.menu-2 {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.menu-3 {
		display: flex;
		flex-direction: row;
		margin: 12px;
	}

	.p-2 {
		font-size: 35px;
	}
}
@media screen and (min-width: 1020px) {
	header {
		justify-content: space-around;
		gap: 307px;
	}

	.menu-2 {
		margin: 50px;
	}

	.menu-3 {
		padding: 20px;
		gap: 100px;
	}
}
